{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page: Coming Soon</title>
    <link rel="stylesheet" href="{% static 'css/CommingSoon.css'%}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1 class="title">Coming Soon!</h1>
            <p class="message">We are working hard to bring you something awesome.</p>
            <div id="countdown"></div>
        </div>
        <footer>
            <p>Stay tuned! <a href="{% url 'members:index'%}">Logout</a></p>
        </footer>
    </div>

    <script src="{% static 'js/CommingSoon.js'%}"></script>
</body>
</html>
