{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Landing.css' %}">
    <title>WEBZ</title>
</head>
<body>
    <header>
        <!--Navigation bar not done-->
        <div class="logo" title="University Management System">
            <h2><span class="pink">W</span><span class="danger">E</span><span class="pink">B</span><span class="danger">Z</span></h2>
        </div>
        <div class="navbar">
                <a href="#landing-page"><h3>Home</h3></a>
                <a ><h3 class="updates"><button onclick=Drop()>Updates</button></h3></a>
                <a href="{% url 'members:selection' %}" class="login"><h3><button class="login-btn">Login</button></h3></a>
        </div>
    </header>


    <div class="updates-dropdown">
        <div class="clip"></div>
        <div class="drop-wrapper">
            <div class="academic-dropdown">
                <span><u>Academic</u></span>
            </div>
            <div class="non-academic-dropdown">
                <span><u>Non-Academic</u></span>
            </div>
        </div>
        
    </div>

    <main>
        <div class="land-page">
            <div class="landing">
                <h1>WEITHAGA BOYS HIGH SCHOOL</h1>
                <p><i>MOTTO:</i>A pinnacle of academic excelence</p>
                <p><i>SLOGAN:</i><span class="primary">THE</span> <span class="danger">DREAM</span> <span class="warning">TEAM</span></p>
                <div class="call-to-action-btn"><button>Apply Now</button></div>
            </div>
        </div>

        <br>

        <div class="history">
        <h2>History</h2>
        <p>
            Weithaga Boys High School is a fully Boarding A.C.K. Sponsored public secondary school.
            It is located in Weithaga location, Wangu Division of Kahuro District in Murang'a county. It 
            was started in 1965 as a Day Harambee Secondary School to cater for the surrounding primary schools. 
            Later, it was to serve the whole district as a fully boarding boys school. From an initial enrolment of 
            only 37 students at its inception, The school has grouwn to a population of 1149 students currently.
        </p>
        <p>
            The teaching staff currently 39 T.S.C and 6 B.O.M teachers. Over the years, The parents, local community
            and friends of the school have been pulling resources together to cater for the ever-growing population of 
            students. Due to the free primary and population growth in our country, the transition rate from primary to
            secondary has gone up. The school catchment area is high.
        </p>
        <h3>Our Vision</h3>
        <p>
            To be a pinnacle of academic excelence
        </p>
        <h3>Our mission</h3>
        <p>
            To inculcate values, virtues and skills in order to produce a holistic, responsible and self reliant individual.
        </p>
        <h3>Our Motto</h3>
        <p>
            Education for Life
        </p>
        <h3>Core Values</h3>
        <p>
            <ul>
                <li>Responsibility</li>
                <li>Comitment</li>
                <li>Integrity</li>
                <li>Loyalty</li>
                <li>Honesty</li>
                <li>Professionalism</li>
                <li>Fear of God</li>
                <li>Diligence</li>
                <li>Respect</li>
                <li>Love</li>
            </ul>
        </p>
        <h3>Strengths</h3>
        <p>
            <ul>
                <ol>Our school has a dedicated Board Of Management, P.T.A and teachers.</ol>
                <ol>Well disciplined students.</ol>
                <ol>Cooperation be all stakeholders</ol>
            </ul>
        </p>
        <p>
            The school has been trying to maintain students in school through sourcing of sposorship. Among
            our sponsors who have been offering fincial and moral of our bright and needy student include:
            <ul>
                <li>Our Board Of Management chairperson Eng. Samuel Ndirangu, Murang'a county initiative</li>
                <li>Equity Foundation (Wings to fly), Murang'a county</li>
                <li>C.D.F</li>
            </ul>
        </p>
        <h3>Weaknesses</h3>
        <p>
            Shortage of teachers, increased number of orphans and indequate physical infrastructure.
        </p>
        </div>

    <br>

    <div class="Updates">
        <div class="Academic">
            <h2>Accademic</h2>
        </div>

        
        <div class="non-academic">
            <h2>Non-Accademic</h2>
        </div>
    </div>
    </main>
    
</body>
<script src="{% static 'js/Landing.js'%}">
    const updatesDropDown = document.getElementsById('updates-dropdown')
    const dropContainer = document.getElementsById('drop-wrapper')

    function Drop () {
        if (updatesDropDown.style.display == "none" & dropContainer.style.display == "none") {
            updatesDropDown.style.display == "block"
            dropContainer.style.display == "block"
        } else {
            updatesDropDown.style.display == "none"
            dropContainer.style.display == "block"
        }
    }
</script>
</html>