{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/selection.css' %}">
    <title>User Selection</title>
</head>
<body>
    <main>
        <div class="container">
                <div class="wrapper">
                    <div class="selection-card">
                    <h2>Teacher</h2>
                    <p>If you are a Teacher, Dean or Non-Teaching staff</p>
                    <a href='{% url "members:teacher_user_login"%}' ><h3><button class="call-to-action-btn">Login</button></h3></a>
                </div>
            </div>

            <div class="wrapper">
                <div class="selection-card">
                    <h2>Student</h2>
                    <p>If you are a Student in WEBZ</p>
                    <a href='{% url "members:student_user_login"%}'><h3><button class="call-to-action-btn">Login</button></h3></a>
                </div>
            </div>
            
            <div class="wrapper">
                <div class="selection-card">
                    <h2>Parent</h2>
                    <p>Your son is in this school</p>
                    <a href='{% url "members:CommingSoon" %}'><h3><button class="call-to-action-btn">Login</button></h3></a>
                </div>
            </div>
        </div>
        
        
    </main>
</body>
</html>