:root {
    --font-color: #fff;
    --big-font-size: 7rem;
    --div-fill-width: 100%;
    --div-fill-height: 100%;
    --bg: url(media/bg.png);
    --box-shadow: 0 2rem 3rem var(--color-light);
    
    --call-to-action-btn-width: 20rem;
    --call-to-action-btn-color: black;
    --call-to-action-btn-color-on-hovor: blue;
    --call-to-action-btn-height: 6rem;
    --cta-btn-font: 20rem;
    
    --color-background: rgb(2, 2, 131);

    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --bg-gradient: linear-gradient(135deg,  #8b5cf6, #3b82f6);
    --text-color: #fff;

    --color: pink;
}

.primary{color: var(--color-primary);}
.danger{color: var(--color-danger);}
.success{color: var(--color-success)}
.warning{color: var(--color-warning);}

.pink{color: var(--color);}

body {
    background: var(--bg-gradient);
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

.container{
    position: relative;
    display: grid;
    width: 90%;
    margin: 0 3rem;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
    padding-top: 4rem;
}

header h3{font-weight: 500;} 

header{
    position: fixed;
    width: 94.2vw;
    z-index: 1000;
    background-color: var(--color-background);
    border-radius: 1rem;
}

header.active{box-shadow: var(--box-shadow);}
header .logo{
    display: flex;
    gap: .8rem;
    margin-right: auto;
    color: #fff;
}

header .logo img{
    width: 2rem;
    height: 2rem;
}

header,
header .navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3rem;
    color: var(--color-info);
}
header .navbar a{
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    padding: 0 2rem;
    text-decoration: none;
    color: #fff;
}

header .navbar a:hover {
    padding-top: 1.5rem;
}

header .navbar .login:hover{
    padding-top: 0;
    border: none;
    cursor: pointer;
}

header .navbar a.active{
    background: var(--color-light);
    color: var(--color-primary);
}
header .navbar a.active::before{
    content: "";
    background-color: var(--color-primary);
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;top: 0;
}

header .login-btn {
    width: 10rem;
    height: 3rem;
    background: #fff;
    border: none;
    background: var(--call-to-action-btn-color);
    border-radius: 2rem;
    color: var(--font-color);
    transition: .3s;
    cursor: pointer;
}

header .login-btn:hover {
    background: var(--call-to-action-btn-color-on-hovor);
    font-size: larger;
}

header .updates button {
    all: unset;
}

.updates-dropdown {
    position: absolute;
    z-index: 1001;
    width: 15rem;
    left: 10rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: none;
}

.drop-wrapper {
    position: fixed;
    background: gainsboro;
    width: 90rem;
    top: 4rem;
    height: 10rem;
    border-radius: 2rem;
    padding-left: .9rem;
    display: grid;
    grid-template-columns: 20rem auto 20rem;
    display: none;
}

.clip {
    position: absolute;
    background: red;
    height: 2rem;
    width: 2rem;
    left: 83rem;
    top: 3rem;
    z-index: 1002;
    transform: rotateZ(2rem);
}

.academic-dropdown {
    margin-top: 2rem
}

.non-academic-dropdown {
    margin-top: 2rem;
}

.landing{
    /* background: red; */
    margin: 0;
    z-index: -1;
    height: 89vh;
    gap: 2rem;
}

.landing h1 {
    font-size: var(--big-font-size);
    text-align: center;
    cursor:default;
    user-select: none;
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.landing p {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2rem;
    text-align: center;
    font-size: xx-large;
    cursor: default;
    user-select: none;
}

.landing .call-to-action-btn {
    text-align: center;
}

.landing .call-to-action-btn button{
    background: var(--call-to-action-btn-color);
    color: var(--font-color);
    height: var(--call-to-action-btn-height);
    width: var(--call-to-action-btn-width);
    border: none;
    font: var(--cta-btn-font);
    border-radius: 2.5rem;
    padding: 1rem;
    transition: .3s;
}

.landing .call-to-action-btn button:hover{
    background: var(--call-to-action-btn-color-on-hovor);
    font-size: larger;
    cursor: pointer;
}

.history {
    margin: 0;
    z-index: -1;
    height: 89vh;
    gap: 2rem;
}

.history h2 {
    text-align: center;
}

.history p {
    text-align: justify;
    max-width: 70rem;
    text-justify: inter-word ;
}

.Updates {
    margin: 0;
    z-index: -1;
    height: 89vh;
    gap: 2rem;
    width: 70rem;
    display: grid;
    grid-template-columns: 30rem;
}

.Updates .non-academic
.Updates .Academic {
    text-align: justify;
    text-justify: inter-word;
    font-size: 2rem;
}

.Updates .non-academic,
.Updates .Academic h2{
    text-align: center;
}

.Academic {
    width: 70rem;
    text-align: justify;
    text-justify: inter-word;
}

.non-academic{
    width: 70rem;
    text-align: justify;
    text-justify: inter-word;
}

/* Mobile Devices (Below 768px) */
@media screen and (max-width: 768px) {
    header {
        width: 120vw;
    }

    header .navbar{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        color: var(--color-info);
    }

    header .login-btn {
        width: 5rem;
        height: 3rem;
        background: #fff;
        border: none;
        background: var(--call-to-action-btn-color);
        border-radius: 2rem;
        color: var(--font-color);
        transition: .3s;
        cursor: pointer;
    }

/* Small Phones (Below 480px) */
@media screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 93%;
        margin: 3rem;
        gap: 1.8rem;
        padding-top: 4rem;
    }
    } 
}